{% extends 'base.html.twig' %}

{% block title %} Cities Air Station {% endblock %}

{% block body %}
    <div class="container">
        <h2>Cities Air Station</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>City</th>
            </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>bootstrap tabella</td>
                    </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
