{% extends 'base.html.twig' %}

{% block title %} All cities witch stations {% endblock %}

{% block body %}
    <div class="container">
        <h2>Cities witch air station</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>City</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for key, city in citiesWitchStations %}
                    <tr>
                        <td>{{city}}</td>
                        <td><a href={{ path('air_info_show_stations', {'city': city})}}>show stations</a></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
