{% extends 'base.html.twig' %}

{% block title %} Stations {% endblock %}

{% block body %}
    <div class="container">
        <h2>City witch air stations</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>city station street</th>
            </tr>
            </thead>
            <tbody>
            {% for key, city in cityStations %}
                    <tr>
                        <td>{{city.stationName}}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
