<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
<<<<<<< HEAD
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
=======
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
>>>>>>> 8bd9080b7eebe394946865502c78ca6ff3687de5
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block VueContent  %}{% endblock %}

        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
